@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: linear-gradient(to right, #0091ea, #673ab7);
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  font-size: 4rem;
  text-shadow: 0.25rem 0.25rem 0.6rem rgb(255, 255, 255, 0.1);
  display: flex;
  gap: 1.5rem;
  text-align: center;
}

#seconds {
  min-width: 5.5rem;
}
